:root {
  --background-color: #16161a;
  --primary-color: #2cb67d;
  --red: #e53170;
  --purple: #7f5af0;
}

body {
  background-color: var(--background-color);
  color: white;
  height: 100vh;
  font-family: "Tiny5", sans-serif;
  font-size: 1.2rem;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4rem;
}

.hero-text {
  font-family: "Silkscreen", sans-serif;
  font-size: 2rem;
}

.game-message {
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.2rem;
  width: 40rem;
  padding: 1rem;
  text-align: center;
}

.boards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 3rem);
  grid-template-rows: repeat(10, 3rem);
}

.coord {
  border: 0.1rem solid var(--primary-color);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coord:nth-child(-n + 10) {
  border-top: none;
  width: 3rem;
  height: 3rem;
}

.coord:nth-last-child(-n + 10) {
  border-bottom: none;
  width: 3rem;
  height: 3rem;
}

.coord:nth-child(10n + 1) {
  border-left: none;
  width: 3rem;
  height: 3rem;
}

.coord:nth-child(10n) {
  border-right: none;
  width: 3rem;
  height: 3rem;
}

.empty-coord-hover:hover,
.ship-selected-hover {
  cursor: pointer;
  background-color: #25d68c;
}

.invalid-coord-hover {
  cursor: pointer;
  background-color: var(--red);
}

.player-ship-placement-module {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.player-ships-container {
  display: flex;
  gap: 2rem;
}

.player-ship,
.direction-btn {
  cursor: pointer;
  height: 4rem;
  width: 8rem;
  border-width: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-style: solid;
  border-color: var(--primary-color);
  border-radius: 0.2rem;
  background-color: var(--background-color);
  color: white;
  box-shadow: 0rem 1rem 0rem 0 var(--primary-color);
  transition: 0.2s ease-in-out;
}

.direction-btn {
  transition: 0.1s ease-out;
  border-color: var(--purple);
  box-shadow: 0rem 1rem 0rem 0 var(--purple);
}

.player-ship-focus {
  transform: translateY(1rem);
  box-shadow: 0rem 0rem 0rem 0 var(--primary-color);
}

.player-ship:disabled {
  transform: translateY(1rem);
  box-shadow: 0rem 0rem 0rem 0 var(--primary-color);
  border-color: var(--red);
}

.direction-btn:active {
  transform: translateY(1rem);
  box-shadow: 0rem 0rem 0rem 0 var(--primary-color);
}

.ship-icon,
.hit-icon,
.miss-icon,
.sunk-icon {
  width: 2rem;
  height: auto;
  pointer-events: none;
}
