:root {
  --background-color: #16161a;
  --primary-color: #2cb67d;
  --red: #e53170;
  --purple: #7f5af0;
}

body {
  background-color: var(--background-color);
  color: white;
}

.boards-container {
  display: flex;
  gap: 8rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-template-rows: repeat(10, 2rem);
}

.coord {
  border: 0.1rem solid var(--primary-color);
  width: 2rem;
  height: 2rem;
}

.coord:nth-child(-n + 10) {
  border-top: none;
  width: 2rem;
  height: 2rem;
}

.coord:nth-last-child(-n + 10) {
  border-bottom: none;
  width: 2rem;
  height: 2rem;
}

.coord:nth-child(10n + 1) {
  border-left: none;
  width: 2rem;
  height: 2rem;
}

.coord:nth-child(10n) {
  border-right: none;
  width: 2rem;
  height: 2rem;
}

.empty-coord-hover:hover,
.ship-selected-hover {
  cursor: pointer;
  background-color: #25d68c;
}

.invalid-coord-hover {
  cursor: pointer;
  background-color: var(--red);
}

.player-ship-placement-module {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.player-ships-container {
  display: flex;
  gap: 2rem;
}

.player-ship,
.direction-btn {
  cursor: pointer;
  height: 4rem;
  width: 8rem;
  border-width: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-style: solid;
  border-color: var(--primary-color);
  border-radius: 0.2rem;
  background-color: var(--background-color);
  color: white;
  box-shadow: 0rem 1rem 0rem 0 var(--primary-color);
  transition: 0.2s ease-in-out;
}

.direction-btn {
  transition: 0.1s ease-out;
  border-color: var(--purple);
  box-shadow: 0rem 1rem 0rem 0 var(--purple);
}

.player-ship-focus {
  transform: translateY(1rem);
  box-shadow: 0rem 0rem 0rem 0 var(--primary-color);
}

.player-ship:disabled {
  transform: translateY(1rem);
  box-shadow: 0rem 0rem 0rem 0 var(--primary-color);
  border-color: var(--red);
}

.direction-btn:active {
  transform: translateY(1rem);
  box-shadow: 0rem 0rem 0rem 0 var(--primary-color);
}
