.boards-container {
  display: flex;
  gap: 8rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1rem);
  grid-template-rows: repeat(10, 1rem);
}

.player-board {
  display: grid;
  grid-template-columns: repeat(10, 1rem);
  grid-template-rows: repeat(10, 1rem);
}

.coord {
  border: 0.1rem solid black;
  width: 1rem;
  height: 1rem;
}
